<div id="sidebar-setting" class="cav-sidebar">
  <ul class="nav nav-list cav-sidenav">
    <li class="cav-sidenav-no-txt">
      <a href="#" >&nbsp;</a>
    </li>
  </ul>
  
  <div class="accordion" id="cav-sidebar-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#sidebar-network-items">Network<i class="icon-chevron-down"></i></a>
          </div>
          <div id="sidebar-network-items" class="accordion-body collapse in">
          </div>
        </div>
    </div>
  
  <div class="accordion" id="cav-sidebar-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#sidebar-device-items">Device<i class="icon-chevron-down"></i></a>
          </div>
          <div id="sidebar-device-items" class="accordion-body collapse in">
          </div>
        </div>
    </div>
      
    <div class="accordion" id="cav-sidebar-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#sidebar-protocol-items">File Protocol<i class="icon-chevron-down"></i></a>
          </div>
          <div id="sidebar-protocol-items" class="accordion-body collapse in">
          </div>
        </div>
    </div>
    <div class="accordion" id="cav-sidebar-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#sidebar-power-items">Power Management<i class="icon-chevron-down"></i></a>
          </div>
          <div id="sidebar-power-items" class="accordion-body collapse in">
          </div>
        </div>
    </div>
    <div class="accordion" id="cav-sidebar-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#sidebar-printer-items">Printers<i class="icon-chevron-down"></i></a>
          </div>
          <div id="sidebar-printer-items" class="accordion-body collapse in">
          </div>
        </div>
    </div>
    <div class="accordion" id="cav-sidebar-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#sidebar-notification-items">Notification<i class="icon-chevron-down"></i></a>
          </div>
          <div id="sidebar-notification-items" class="accordion-body collapse in">
          </div>
        </div>
    </div>
</div>

