<div class="navbar cav-navbar">
  <div class="logobar">
    <div class="logo"></div>
  </div>
  <div class="cav-navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="#" class="cav-menu-item-home">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="divider-vertical" ></li>
          <li >
            <a class="cav-menu-item" href="#">
              <i class="icon-hdd"></i>Disks
            </a>
          </li>
          <li class="divider-vertical" ></li>
          <li>
            <a class="cav-menu-item" href="#">
              <i class="icon-tasks"></i>Volumes
            </a>
          </li>
          <li class="divider-vertical" ></li>
          <li class="active">
            <a class="cav-menu-item" href="#">
              <i class="icon-folder-close"></i>Shared Folders
            </a>
          </li>
          <li class="divider-vertical" ></li>
          <li>
            <a class="cav-menu-item" href="#">
              <i class="icon-user"></i>Users & Groups
            </a>
          </li>
          <li class="divider-vertical" ></li>
          <li>
            <a class="cav-menu-item" href="#">
              <i class="icon-inbox"></i>Backup
            </a>
          </li>
          <li class="divider-vertical" ></li>
          <li>
            <a class="cav-menu-item" href="#">
              <i class="icon-cog"></i>Settings
            </a>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</div>
