<ul class="nav nav-list cav-sidenav">
  <li class="cav-sidenav-no-txt">
    <a href="#" >&nbsp;</a>
  </li>
  <li>
    <a href="#">
      <i class="icon-folder-close icon-white"></i>Create Shared Folder
    </a>
  </li>
  <li>
    <a href="#">
      <i class="icon-file icon-white"></i>Create iSCSI Shared Folder
    </a>
  </li>
</ul>
<div class="accordion" id="cav-sidebar-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#cav-sidebar-sf-items">
      Shared Folders
      </a>
    </div>
    <div id="cav-sidebar-sf-items" class="accordion-body collapse">
      <div class="accordion-inner">
      My Project
      </div>
      <div class="accordion-inner">
      Movies
      </div>
      <div class="accordion-inner">
      Merlyn
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#cav-sidebar-iscsi-items">
      iSCSI Shared Folders
      </a>
    </div>
    <div id="cav-sidebar-iscsi-items" class="accordion-body collapse in">
      <div class="accordion-inner">
      iSCSI Share 1
      </div>
      <div class="accordion-inner">
      iSCSI Share 2
      </div>
      <div class="accordion-inner">
      iSCSI Share 3
      </div>
    </div>
  </div>
</div>

