<ul class="nav nav-list cav-sidenav">
  <li><a href="#">Create Shared Folder</a></li>
  <li><a href="#">Create iSCSI Shared Folder</a></li>
</ul>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
      Shared Folders
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
      My Project
      </div>
      <div class="accordion-inner">
      Movies
      </div>
      <div class="accordion-inner">
      Merlyn
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      iSCSI Shared Folders
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
      iSCSI Share 1
      </div>
      <div class="accordion-inner">
      iSCSI Share 2
      </div>
      <div class="accordion-inner">
      iSCSI Share 3
      </div>
    </div>
  </div>
</div>

