<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </a>
     
    <a class="brand" href="#">Cavium</a>
     
    <div class="nav-collapse collapse">
      <ul class="nav">
      <li class="active">
      <a href="#">Disks</a>
      </li>
      <li><a href="#">Volumes</a></li>
      <li><a href="#">Shared Folders</a></li>
      <li><a href="#">Users & Groups</a></li>
      <li><a href="#">Backup</a></li>
      <li><a href="#">Settings</a></li>
      </ul> 
    </div>
  </div>
</div>
