<ul class="nav nav-list cav-sidenav">
  <li class="cav-sidenav-no-txt">
    <a href="#" >&nbsp;</a>
  </li>
  <li>
    <a href="#cav-vr-add-edit-modal" id="cav-vr-add-vol" data-toggle="modal">
      <i class="icon-folder-close icon-white"></i>Create a Volume
    </a>
  </li>
</ul>
<div class="accordion" id="cav-sidebar-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#cav-sidebar-vr-items">Volumes<i class="icon-chevron-down"></i></a>
    </div>
    <div id="cav-sidebar-vr-items" class="accordion-body collapse in">
    </div>
  </div>
</div>

<!-- Adding model for add and edit panel -->

<form class="form-horizontal" >
  <div id="cav-vr-add-edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cav-add-model-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="cav-add-model-label">Create a New Volume</h4>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="cav-vr-name">Name</label>
        <div class="controls">
          <input type="text" id="cav-vr-name" name="name" placeholder="Volume Name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cav-vr-desc">Description</label>
        <div class="controls">
          <input type="text" id="cav-vr-desc" name="description" placeholder="Description">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cav-vr-disks">Disks</label>
        <div class="controls">
          <label class="checkbox inline">
            <input type="checkbox" name="disks" value="HDD1"> HDD1
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="disks" value="HDD2"> HDD2
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="disks" value="HDD3"> HDD3
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="disks" value="HDD4"> HDD4
          </label>
        </div>
      </div>      
      <div class="control-group">
        <label class="control-label" for="cav-vr-raid">RAID Type</label>
        <div class="controls">
          <select id="cav-vr-raid" name="raid" >
            <option value="SPAN" >SPAN</option>
            <option value="RAID 0" >RAID 0</option>
            <option value="RAID 1" >RAID 1</option>
            <option value="RAID 5" >RAID 5</option>
            <option value="RAID 10" >RAID 10</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cav-vr-encr">Volume Encryption</label>
        <div class="controls">
          <input type="checkbox" id="cav-vr-encr" name="encryption" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cav-vr-raw">RAW Volume</label>
        <div class="controls">
          <input type="checkbox" name="raw" id="cav-vr-raw" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cav-vr-size">Volume Size</label>
        <div class="controls ">
          <div class="input-append">
            <input class="span3" id="cav-vr-size" name="size" type="text">
            <span class="add-on">GB</span>
          </div>
        </div>
      </div>      
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="button" class="btn btn-primary" id="cav-vol-save">Save</button>
      <button type="button" class="btn btn-primary" id="cav-vol-update">Update</button>
    </div>
  </div>
</form>
