<div class="row-fluid cav-module-details">
	{{#.}}
	<div class="row-fluid cav-module-details-sec1">
		<div class="span9">
			<span class="cav-spinner">
				<i class="icon-refresh"></i>
			</span>
			<div class="cav-module-title">
				Disks
			</div>
			<p class="cav-module-item-name">
				{{name}}
			</p>
			<p class="cav-module-item-desc">
				{{description}}
			</p>

			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Size</div>
				<div class="span6">{{size}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Status</div>
				<div class="span6">{{status}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Path</div>
				<div class="span6">{{path}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Vendor</div>
				<div class="span6">{{vendor}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Temperature</div>
				<div class="span6">{{temperature}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Model Name</div>
				<div class="span6">{{modelname}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Temperature</div>
				<div class="span6">{{temperature}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Volumes</div>
				<div class="span6" style="width: 300px;word-wrap: break-word">
					{{^volumes}} -- {{/volumes}}
					{{#volumes}}<a href="/volumes/{{id}}">{{name}}</a>&nbsp;{{/volumes}}
				</div>
			</div>
		</div>
		<div class="span3">
			{{#show_actions}}
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				{{#actions.claim}}
			    <li>
			    	<a tabindex="-1" href="#disk-confirm-dialog" id="disk-claim" data-toggle="modal"><i class="icon-edit"></i>&nbsp;Claim</a>
			    </li>
			    	{{#actions.eject}}
			    		<li class="divider"></li>
			    	{{/actions.eject}}
			    {{/actions.claim}}
			    {{#actions.eject}}
			    <li>
			    	<a tabindex="-1" href="#disk-confirm-dialog" id="disk-eject" data-toggle="modal" ><i class="icon-minus-sign"></i>&nbsp;Eject</a>
			    </li>
			    {{/actions.eject}}
		    </ul>
		    {{/show_actions}}
		</div>
		<!-- Bootrap confirmation window -->
		<div class="modal hide fade" id="disk-confirm-dialog">
		  <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>Confirm</h3>
		  </div>
		  <div class="modal-body" id="disk-confirm-msg">
		  </div>
		  <div class="modal-footer">
		    <a href="javascript:void(0)" id="disk-confirm-claim" class="btn btn-success" >Claim Now</a>
		    <a href="javascript:void(0)" id="disk-confirm-eject" class="btn btn-danger" >Eject Now</a>
		    <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
		  </div>
		</div>
	</div>
	{{/.}}
</div>
