<div class="row-fluid cav-vol-intro">
	<h2>
		Disks
	</h2>
	<div class="progress cav-vol-bar">
		<div class="bar bar-success" style="width: 25%;">HDD1</div>
		<div class="bar bar-warning" style="width: 25%;">HDD2</div>
		<div class="bar bar-info" style="width: 30%;">HDD3</div>
		<div class="bar bar-danger" style="width: 20%;">HDD4</div>
	</div>

	<div class="cav-vol-bar-info">
		200GB of 4.2 TB Allocated
	</div>
	<div class="span9">
	    <h3>
			Wondering, what are these disks ?
		</h3>
	    <p> NOTE: Above text is currently dummy,binary is not ready yet to suite this UI.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  	</div>
</div>