<div id="sidebar-disk" class="cav-sidebar">
  <ul class="nav nav-list cav-sidenav">
    <li class="cav-sidenav-no-txt">
      <a href="#" >&nbsp;</a>
    </li>
  </ul>
  <div class="accordion" id="cav-sidebar-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#sidebar-disk-items">Disks<i class="icon-chevron-down"></i></a>
      </div>
      <div id="sidebar-disk-items" class="accordion-body collapse in">
      </div>
    </div>
  </div>
</div>
