<div class="row-fluid cav-module-details">
	{{#.}}
	<div class="row-fluid cav-module-details-sec1">
		<div class="span9">
			<span class="cav-spinner">
				<i class="icon-refresh"></i>
			</span>
			<div class="cav-module-title">
				Volume
			</div>
			<p class="cav-module-item-name">
				{{name}}
			</p>
			<p class="cav-module-item-desc">
				{{description}}
			</p>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Size</div>
				<div class="span6">{{size}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Used</div>
				<div class="span6">{{used}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Status</div>
				<div class="span6">{{status}}</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Disks</div>
				<div class="span6" style="width: 300px;word-wrap: break-word;">
					{{#disks}}
					<a href="/disks/{{id}}" class="cav-popover" data-original-title="{{name}}" rel="popover" data-placement="top" data-html="true" data-content="<b>Size:</b> {{size}}<br/> <b>Status:</b> {{status}}" >{{name}}</a>&nbsp;
					{{/disks}}
				</div>
			</div>
			<div class="row-fluid span9 offset1">
				<div class="span3 cav-module-title">Encrypted</div>
				<div class="span6">{{#encrypted}}Yes{{/encrypted}}{{^encrypted}}No{{/encrypted}}</div>
			</div>
		</div>
		<div class="span3">
			{{#actions}}
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				{{#actions.edit}}
			    <li>
			    	<a tabindex="-1" href="#cav-vr-add-edit-modal" id="vr-edit-vol" data-toggle="modal"><i class="icon-edit"></i>&nbsp;Edit</a>
			    </li>
			    <li class="divider"></li>
			    {{/actions.edit}}
			    {{#actions.migrate}}
			    <li>
			    	<a tabindex="-1" href="#cav-vr-add-edit-modal" id="vr-migrate-vol" data-toggle="modal" ><i class="icon-minus-sign"></i>&nbsp;Migrate</a>
			    </li>
			    <li class="divider"></li>
			    {{/actions.migrate}}
			    {{#actions.recovery}}
			    <li>
			    	<a tabindex="-1" href="#cav-vr-add-edit-modal" id="vr-recovery-vol" data-toggle="modal" ><i class="icon-minus-sign"></i>&nbsp;Recovery</a>
			    </li>
			    <li class="divider"></li>
			    {{/actions.recovery}}
			    {{#actions.extend}}
			    <li>
			    	<a tabindex="-1" href="#cav-vr-add-edit-modal" id="vr-extend-vol" data-toggle="modal" ><i class="icon-minus-sign"></i>&nbsp;Extend</a>
			    </li>
			    <li class="divider"></li>
			    {{/actions.extend}}
			    {{#actions.delete}}
			    <li>
			    	<a tabindex="-1" href="#cav-confirm-dialog" data-toggle="modal" ><i class="icon-minus-sign"></i>&nbsp;Delete</a>
			    </li>
			    {{/actions.delete}}
			    
		    </ul>
		    {{/actions}}
		</div>
		<!-- Bootrap confirmation window -->
		<div class="modal hide fade" id="cav-confirm-dialog">
		  <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>Confirm</h3>
		  </div>
		  <div class="modal-body">
		    Are you sure, you want to delete volume ?
		  </div>
		  <div class="modal-footer">
		    <a href="javascript:void(0)" id="cav-vol-delete" class="btn btn-danger" >Ok</a>
		    <a class="btn btn-cancel" data-dismiss="modal">Cancel</a>
		  </div>
		</div>
	</div>
	<div class="row-fluid cav-module-details-sec2">
		<div class="progress cav-vol-bar-shares">
			<div class="bar bar-success" style="width: 10%;"><a href="#shares/1">Share1</a></div>
			<div class="bar bar-warning" style="width: 10%;"><a href="#shares/1">Share1</a></div>
			<span class="cav-bar-remain-space" >400GB Free</span>
		</div>
		<p>
			{{used}} GB of {{size}} GB
		</p>
	</div>
	{{/.}}
</div>
