<ul class="nav nav-list cav-sidenav">
  <li class="cav-sidenav-no-txt">
    <a href="#" >&nbsp;</a>
  </li>
  <li>
    <a href="#cav-vr-add-edit-modal" id="cav-vr-add-vol" data-toggle="modal">
      <i class="icon-folder-close icon-white"></i>Create a Volume
    </a>
  </li>
</ul>
<div class="accordion" id="cav-sidebar-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#cav-sidebar-accordion" href="#cav-sidebar-vr-items">Volumes<i class="icon-chevron-down"></i></a>
    </div>
    <div id="cav-sidebar-vr-items" class="accordion-body collapse in">
    </div>
  </div>
</div>
<form class="form-horizontal" >
  <div id="cav-vr-add-edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cav-add-model-label" aria-hidden="true">
  </div>
</form>
